<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fire Emblem Cipher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>
  
  <ion-card>
    <img src="../assets/img/cipherLogo.jpg">
    <ion-button color="light" expand="block" size="large" class="card-item-margin">Cards Lists</ion-button>
    <ion-button color="light" expand="block" size="large" class="card-item-margin">Search</ion-button>
    <ion-button color="light" expand="block" size="large" class="card-item-margin">Deck Lists</ion-button>
  </ion-card>

  <app-card-display-slider [cards]="cards"></app-card-display-slider>
</ion-content>
